<html>

    <head>
        <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
        <title>Welcome to my page!</title>

        <style>
            body{
                background-color: rgb(181, 201, 204);}

            h1{          
                text-align:center;           
                font-size: 45px;
                font-family: verdana;
                Color: rgb(52, 51, 90);
                border: 0.5px;}
            p{
                font-size: 30px;
                Color: rgb(86, 79, 143);}
        
        </style>

    </head>
    
    <body>
        <div id="header" style="position: absolute; top: 10; left: 10; width: 95%;">
            <div class="test">{{name}}</div>
            <h1>About Me</h1>
            <h2>This page is an introduction towards myself. Find out more about me by reading!</h2>
            <p id="example"></p>
            <img src="/Portfolio/about-me.jpg">
            <button class="Submit">Submit</button>
        </div>
    </body>
    

    <script>
        var element_text = $(".test").text();   // This variable

        $("#example").text(element_text);
        $("#example").css({"font-size":"25px", "color":"purple"});

        // Event Handlers -> click, blur, change
        $('#example').click(function() {
            $("div").remove();
        });

        // $() -> This is a selector. It select an element in the dom
        // $("#elementID") -> Use # for element id 
        // $(".elementClass") -> Use # for element class
        // Jquery make a function run on a select. Example -> $("button").click() makes a button do something when its clicked

        //


    
    </script> 

</html>

<!--
    1. Pass in variables in about me page. 
    2. Put a header and picture on page
    3. on div put id on them
    4. import jquery 
    5. use id with jquery to make a button on page to change the page, 
        hint: window.location.origin -> "www.website.com" + "/SahersHome"
        To change website: window.location.href = new link   
    6. Add CSS designs
    7. push to github
-->

<!-- HW DAY 2
    1. Pass in 3 python variabless into about me page and put them in different elements. {{variable}} | DO NOT USE THIS IN JAVASCRIPT
    2. Fix the picture source on this page
    3. use id with jquery to make a button on page to change the page, 
        hint: window.location.origin -> "www.website.com" + "/SahersHome"
        To change website: window.location.href = new link   
    4. Add CSS designs
    5. push to github
    6. Use Flexbox css to arrange the page in middle
    7. For Python sign up for google maps api and display a map of your house address on about me page.
-->